%h3 Filter
-@filter_from = Time.now - 8.hours
-@filter_to = Time.now
-# Thanks @ http://eonasdan.github.io/bootstrap-datetimepicker/
.filter_container
  %div.input-group.filter_group
    %span.input-group-addon.filter_label#from= "from:"
    %div.input-group.date#datetimepicker1
      %input.form-control#filter_from{type: "text", "aria-describedby" => "from", value: @filter_from.strftime("%-m/%-d/%Y %-l:%M:%S %p")}
      %span.input-group-addon
        %span.fa.fa-calendar
  %div.input-group.filter_group
    %span.input-group-addon.filter_label#to= "to:"
    %div.input-group.date#datetimepicker2
      %input.form-control#filter_to{type: "text", "aria-describedby" => "from", value: @filter_to.strftime("%-m/%-d/%Y %-l:%M:%S %p")}
      %span.input-group-addon
        %span.fa.fa-calendar
  %a.btn.btn-primary{type: "button", id: "filter-btn"}= "Filter"

:javascript
  $(function () {
      $('#datetimepicker1').datetimepicker({
      icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
      format: 'l LTS'
      });
      $('#datetimepicker2').datetimepicker({
      icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                },
      format: 'l LTS'
      });
  });
