%div
  %h2 Defaults
  = form_tag config_path(Config.first), method: :patch do
    %table.table.table-striped.table-bordered
      %tr
        %td Default Filter Range (seconds)
        %td
          = text_field_tag :filter_range,{},  {class: 'form-control', value: Config.first.filter_range}
    = submit_tag "Update Defaults", class: 'btn btn-primary'