//body{background: #fff}
.form-control {
  width: 40%;
}

.centered-block {
  margin: 0 auto;
  width: 50em;
}

.dashboard-table {
  margin: 0 auto;
  width: 95%;

}

.centered-title{
  text-align: center;
}

.panel-header:hover{
    background-color: #F0F0F0;
}