.filter_container {
  margin-bottom: 1em;
}

.filter_container:after {
    content: '';
    display: block;
    clear: both;
}

.filter_group {
  width: 16em;
  float: left;
  margin-right: 1em;
}

.filter_label {
  width: 4em;
}

.form-control {
  width: 40%;
}

.centered-block {
  margin: 0 auto;
  width: 50em;
}

.dashboard-container {
  margin: 0 auto;
  width: 95%;

}

.centered-title{
  text-align: center;
}

.panel-header:hover{
    background-color: #F0F0F0;
}

.filter_group {
  width: 20%;
  min-width: 350px;
}

.filter-precision-field{
  width: 5%;
  min-width: 100px;
}

.filter-btn {
  float: left;
}

.station {
  margin-bottom: 1em !important;
}

.main-diagram {
  background-color: #DEF5FC !important;
}

select, input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}
section {
    padding: 8px;
    background-color: #DEF5FC;
    overflow: auto;
}
section > DIV {
    float: left;
    padding: 4px;
}

.md-label {
  height: 2em;
  clear: both;
  text-align: left;
}
.md-left, .md-right{
    width: 40%;
    text-align: center;
}

.md-middle {
  width: 20%
}

#btnLeft, #btnRight, .md-btn{
  width: 100%;
  margin-bottom: 1em;
}

.user-field {
  margin-bottom: 1em;
}

.btn-delete, .btn-edit{
  margin: 0.2em 0.2em 0.2em 0.2em;
  padding: 0.2em 0.2em 0.2em 0.2em;
  width: 2em;
}

btn-margin-right {
  margin-right: 0.5em;
}